.aboutchefs__container{
    text-align: center;
    padding: 70px 0;
    .alt__title{
        font-size: 28px;
        font-weight: normal;
        margin: 0;
        text-transform: capitalize;
        font-family: "Norican", cursive;
        color: #FCC222;
    }
    .title{
        margin: 0;
        color: #1E1D23;
        font-size: 45px;
        // text-transform: capitalize;
        font-weight: 900;
    }
}