.search__content{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #FFF;
    z-index: 2222;
    display: flex;
    // align-items: center;
    padding-top: 200px;
    justify-content: center;
    opacity: 0;
    transition: .3s;
    transform: scale(0);
    &.show{
        transform: scale(1);
        opacity: 1;
    }
    .close{
        position: absolute;
        top: 10%;
        right: 5%;
        border: 1px solid #1E1D23;
        border-radius: 50%;
        cursor: pointer;
        padding: 2px;
        .css-i4bv87-MuiSvgIcon-root{font-size: 14px;}
    }
    .search__input{
        position: relative;
        width: 45%;
    }
}
